TZ=Europe/Vienna
BASE_DIR=/opt/homelab
CONFIG_DIR=/opt/homelab/configs
MEDIA_DIR=/opt/homelab/media

WG_HOST=change-me.example.com
WG_PASSWORD=change-me-now
PIHOLE_WEBPASSWORD=change-me-now

# Grafana admin user (admin); change in production
GRAFANA_ADMIN_PASSWORD=change-me-now
